{{#if advanced}}
	<script>

		var columns = [];
		{{#if tax_visible}}
			{{#unless hide_tax}}
				var cue = ['total_price_gross_col', 'total_price_net_col', 'tax_col', 'tax_value_col'];
				for (var i=0; i<cue.length; i++) if(document.getElementById(cue[i])) columns.push(cue[i]);
			{{else}}
				columns = ['total_price_gross_col'];
			{{/unless}}
		{{else}}
			columns = ['total_price_gross_col'];
		{{/if}}

		var style = document.createElement('style');
		style.type = 'text/css';
		var scr = ' @media screen {';
		var print = ' @media print {';

		for (var i = 0; i < columns.length; i+=1) {
		    var getwid = document.getElementById(columns[i])
		    var wid = getwid.offsetWidth + 'px';
		    scr += ' #rel_adv_table .'+columns[i]+'.related_advance {min-width:'+ wid +' !important;max-width:'+ wid + ' !important;width:'+ wid + ' !important;}';
		    print += ' #rel_adv_table .'+columns[i]+'.related_advance {min-width:'+ wid +' !important;max-width:'+ wid + ' !important;width:'+ wid + ' !important;}';
		    print += ' #pos_table .'+columns[i]+' {min-width:'+ wid + ' !important;max-width:'+ wid + ' !important;width:'+ wid + ' !important;}';
		}

		scr += '}';
		print += '}';
		
		style.innerHTML = scr +'\n'+ print;
		document.body.appendChild(style);
		
	</script>


	<table class="main_inv_table" id="rel_adv_table">
		<thead>
			<tr>
				<th colspan="100" class="text_left advanced_header">{{tt "invoice.related_advance"}} 
				{{#eq advanced_num 0}}
					<br />{{tt "invoice.have_none"}}
				{{/eq}}</th>
			</tr>
		<tbody>
			{{#each advanced}}
			<tr>
				<td class="nr_col related_advance">
					{{no}}
				</td>
				<td class="name_col related_advance" >
					{{number}} {{tt "invoice.advance_day"}} {{issue_date}}
				</td>

				{{#if ../tax_visible}}

					<td class="text_right number total_price_net_col related_advance">
						{{price_net}}
					</td>			

					<td class="text_right number tax_col related_advance">
						
					</td>
					{{#if ../../tax2_visible}}
						<td class="text_right number tax2_col related_advance">
							
						</td>
					{{/if}}
					<td class="text_right number tax_value_col related_advance">
						{{price_tax}}
					</td>
				{{/if}}				
	
				<td class="text_right number total_price_gross_col related_advance">
					{{price_gross}}
				</td>

			</tr>
			{{/each}}
		</tbody>
	</table>

{{/if}}
