
{{#if payments}}
    <section id="invoice_payments">

        <div id="invoice_payments_title">{{tt 'invoice.payments.header'}}</div>

        <div id="invoice_payments_list">
            {{#each payments}}
                <div class="invoice_payments_payment">
                    <div class="invoice_payments_price">{{price_with_currency}}</div> 
                    <div class="invoice_payments_date">{{tt 'invoice.paid_on'}} {{date}}</div>
                    <div class="invoice_payments_provider">{{provider}}</div>
                    {{#if cheque_number}}
                        <div class="invoice_payments_provider">{{cheque_number}}</div>
                    {{/if}}
                </div>
            {{/each}}
        </div>

    </section>
{{/if}}
