<table class="main_inv_table" id="cor_table">



		<thead>
			<tr>
				<th class="width0 nr_col correction">
					{{tt "invoice_position.nr"}}
				</th>
				<th class="width4 text_left name_col correction">
					{{tt "invoice_position.name"}}
				</th>

				{{#if use_product_code}}
					<th class="width2 code_col correction">
						{{tt "invoice_position.code"}}
					</th>				
				{{/if}}

				{{#if additional_info}}				
				<th class="width2 additional_info_col correction">
					{{additional_info_desc}}
				</th>				
				{{/if}}
				{{#if discount}}				
					<th class="width1 discount_col correction">
						{{tt "invoice_position.discount_percent"}}
					</th>				
				{{/if}}
				<th class="correction_col"></th>{{! correction specific th}}
				<th class="width1 quantity_col correction">
					{{tt "invoice_position.quantity"}}
				</th>
				{{#if tax_visible}}
					<th class="width3 text_right price_net_col correction">
						{{tt "invoice_position.price_net"}}
					</th>
					
					{{#if discount}}
						<th class="width3 text_right price_net_with_discount_col correction">
							{{tt "invoice_position.price_net_with_discount"}}
						</th>
					{{/if}}

					{{#if show_unit_price_gross}}
						<th class="width3 text_right price_gross_col correction">
							{{tt "invoice_position.price_gross"}}
						</th>
					{{/if}}

					<th class="width3 text_right total_price_net_col correction">
						{{tt "invoice_position.total_price_net"}}
					</th>
					<th class="width1 text_center tax_col correction">
						{{tax_name}} %
					</th>
					{{#if tax2_visible}}
						<th class="width1 text_center tax2_col correction">
							{{tax2_name}} %
						</th>
					{{/if}}
					<th class="width3 text_right tax_value_col correction">	
						{{tax_value_name}}					
					</th>
					<th class="width3 text_right total_price_gross_col correction">
						 {{tt "invoice_position.total_price_gross"}}
					</th>
				{{else}}
					<th class="width3 text_right price_net_col correction">
						{{tt "invoice_position.bill_price_net"}}
					</th>
					{{#if discount}}
						<th class="width3 text_right price_net_with_discount_col correction">
							{{tt "invoice_position.bill_price_net_with_discount"}}
						</th>
					{{/if}}
					<th class="width3 text_right total_price_gross_col correction">
						 {{tt "invoice_position.bill_total_price_gross"}}
					</th>
				{{/if}}
			</tr>
		</thead>
		<tbody>
			{{#each positions}}
			{{#eq kind 'page_break'}}
		</tbody>
</table>
<br><div style="page-break-after:always !important;"></div>
<table class="main_inv_table" id="cor_table">
		<thead>
			<tr>
				<th class="width0 nr_col correction">
					{{tt "invoice_position.nr"}}
				</th>
				<th class="width4 text_left name_col correction">
					{{tt "invoice_position.name"}}
				</th>

				{{#if ../../use_product_code}}
					<th class="width2 code_col correction">
						{{tt "invoice_position.code"}}
					</th>				
				{{/if}}

				{{#if ../../additional_info}}				
				<th class="width2 additional_info_col correction">
					{{additional_info_desc}}
				</th>				
				{{/if}}
				{{#if ../../discount}}				
					<th class="width1 discount_col correction">
						{{tt "invoice_position.discount_percent"}}
					</th>				
				{{/if}}
				<th class="correction_col"></th>{{! correction specific th}}
				<th class="width1 quantity_col correction">
					{{tt "invoice_position.quantity"}}
				</th>
				{{#if ../../tax_visible}}
					<th class="width3 text_right price_net_col correction">
						{{tt "invoice_position.price_net"}}
					</th>
					
					{{#if ../../../discount}}
						<th class="width3 text_right price_net_with_discount_col correction">
							{{tt "invoice_position.price_net_with_discount"}}
						</th>
					{{/if}}

					{{#if ../../../show_unit_price_gross}}
						<th class="width3 text_right price_gross_col correction">
							{{tt "invoice_position.price_gross"}}
						</th>
					{{/if}}

					<th class="width3 text_right total_price_net_col correction">
						{{tt "invoice_position.total_price_net"}}
					</th>
					<th class="width1 text_center tax_col correction">
						{{tax_name}} %
					</th>
					{{#if ../../../tax2_visible}}
						<th class="width1 text_center tax2_col correction">
							{{tax2_name}} %
						</th>
					{{/if}}
					<th class="width3 text_right tax_value_col correction">	
						{{tax_value_name}}					
					</th>
					<th class="width3 text_right total_price_gross_col correction">
						 {{tt "invoice_position.total_price_gross"}}
					</th>
				{{else}}
					<th class="width3 text_right price_net_col correction">
						{{tt "invoice_position.bill_price_net"}}
					</th>
					{{#if ../../../discount}}
						<th class="width3 text_right price_net_with_discount_col correction">
							{{tt "invoice_position.bill_price_net_with_discount"}}
						</th>
					{{/if}}
					<th class="width3 text_right total_price_gross_col correction">
						 {{tt "invoice_position.bill_total_price_gross"}}
					</th>
				{{/if}}
			</tr>
		</thead>
		<thead>
			{{/eq}}
			{{#not_eq kind 'page_break'}}
			{{#eq kind 'text_separator'}}
			<tr>
				<td colspan=100 class='text_left text_separator'>{{item}}</td>
			</tr>
			{{else}}
			<tr class="correction_row_before"> {{! first correction specific tr}}
				<td class="nr_col correction">
					{{no}}
				</td>
				<td class="name_col correction">
					{{{correction_before.item}}}
				</td>
				
				{{#if ../../../use_product_code}}
					<td class="code_col correction">
						{{correction_before.code}}
					</td>					
				{{/if}}
				
				{{#if ../../../additional_info}}				
					<td class="additional_info_col correction">
						{{correction_before.additional_info}}
					</td>				
				{{/if}}
				
				{{#if ../../../discount}}
					<td class="text_center discount_col correction">
						{{correction_before.discount}}
					</td>
				{{/if}}	

				<td class="correction_col">
					{{tt 'invoice_position.kind_options.correction_before'}}
				</td>

				<td class="text_center quantity_col correction">
					{{correction_before.quantity}}
				</td>

				{{#if ../../../tax_visible}}
					<td class="text_right number price_net_col correction">
						{{correction_before.unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ correction_before.unit_price_net_with_discount }}
					    </td>			
					{{/if}}

					{{#if ../../../../show_unit_price_gross}}
						<td class="text_right number price_gross_col correction">
							{{correction_before.unit_price_gross}}
						</td>
					{{/if}}

					<td class="text_right number total_price_net_col correction">
						{{correction_before.total_price_net}}
					</td>			

					<td class="text_right number tax_col correction">
						{{correction_before.tax}}
					</td>
					{{#if ../../../../tax2_visible}}
						<td class="text_right number tax2_col correction">
							{{correction_before.tax2}}
						</td>
					{{/if}}
					<td class="text_right number tax_value_col correction">
						{{correction_before.tax_value}}
					</td>
					<td class="text_right number total_price_gross_col correction">
						{{correction_before.total_price_gross}}
					</td>	
				{{else}}
					<td class="text_right number price_net_col correction">
						{{correction_before.unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ correction_before.unit_price_net_with_discount }}
					    </td>			
					{{/if}}
					<td class="text_right number total_price_gross_col correction">
						{{correction_before.total_price_gross}}
					</td>		
				{{/if}}				
			</tr>

			<tr class="correction_row_after"> {{! second correction specific tr}}
				<td class="nr_col correction"></td>

				<td class="name_col correction">
					{{{correction_after.item}}}
				</td>
				
				{{#if ../../../use_product_code}}
					<td class="code_col correction">
						{{correction_after.code}}
					</td>					
				{{/if}}
				
				{{#if ../../../additional_info}}				
					<td class="additional_info_col correction">
						{{correction_after.additional_info}}
					</td>				
				{{/if}}
				
				{{#if ../../../discount}}
					<td class="text_center discount_col correction">
						{{correction_after.discount}}
					</td>
				{{/if}}	

				<td class="correction_col">
					{{tt 'invoice_position.kind_options.correction_after'}}
				</td>

				<td class="text_center quantity_col correction">
					{{correction_after.quantity}}
				</td>

				{{#if ../../../tax_visible}}
					<td class="text_right number price_net_col correction">
						{{correction_after.unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ correction_after.unit_price_net_with_discount }}
					    </td>			
					{{/if}}

					{{#if ../../../../show_unit_price_gross}}
						<td class="text_right number price_gross_col correction">
							{{correction_after.unit_price_gross}}
						</td>
					{{/if}}

					<td class="text_right number total_price_net_col correction">
						{{correction_after.total_price_net}}
					</td>			

					<td class="text_right number tax_col correction">
						{{correction_after.tax}}
					</td>
					{{#if ../../../../tax2_visible}}
						<td class="text_right number tax2_col correction">
							{{correction_after.tax2}}
						</td>
					{{/if}}
					<td class="text_right number tax_value_col correction">
						{{correction_after.tax_value}}
					</td>
					<td class="text_right number total_price_gross_col correction">
						{{correction_after.total_price_gross}}
					</td>
				{{else}}
					<td class="text_right number price_net_col correction">
						{{correction_after.unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ correction_after.unit_price_net_with_discount }}
					    </td>			
					{{/if}}
					<td class="text_right number total_price_gross_col correction">
						{{correction_after.total_price_gross}}
					</td>
				{{/if}}				
	
				
			</tr>
			
			<tr style="background-color:#eee" class="correction_row_changes"> {{! correction specific tr style}}
				<td class="nr_col correction"></td> {{! no number in correction here }}

				<td class="name_col correction">
					{{#and item_url ../../show_links }}
						<a href="{{{item_url}}}">{{{item}}}</a>
					{{else}}
						{{{item}}}
					{{/and}}
				</td>
				
				{{#if ../../../use_product_code}}
					<td class="code_col correction">
						{{code}}
					</td>					
				{{/if}}
				
				{{#if ../../../additional_info}}				
					<td class="additional_info_col correction">
						{{additional_info}}
					</td>				
				{{/if}}
				
				{{#if ../../../discount}}
					<td class="text_center discount_col correction">
						{{discount}}
					</td>
				{{/if}}	

				<td class="correction_col">
					{{tt 'invoice_position.kind_options.correction'}}
				</td> {{! correction specific td}}

				<td class="text_center quantity_col correction">
					{{quantity}}
				</td>

				{{#if ../../../tax_visible}}
					<td class="text_right number price_net_col correction">
						{{unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ unit_price_net_with_discount }}
					    </td>			
					{{/if}}

					{{#if ../../../../show_unit_price_gross}}
					<td class="text_right number price_gross_col correction">
						{{unit_price_gross}}
					</td>
					{{/if}}

					<td class="text_right number total_price_net_col correction">
						{{total_price_net}}
					</td>			

					<td class="text_right number tax_col correction">
						{{tax}}
					</td>
					{{#if ../../../../tax2_visible}}
						<td class="text_right number tax2_col correction">
							{{tax2}}
						</td>
					{{/if}}
					<td class="text_right number tax_value_col correction">
						{{tax_value}}
					</td>
					<td class="text_right number total_price_gross_col correction">
						{{total_price_gross}}
					</td>
				{{else}}
					<td class="text_right number price_net_col correction">
						{{unit_price_net}}
					</td>
					{{#if ../../../../discount}}
					    <td class="row1 price_net_with_discount_col correction">
					        {{ unit_price_net_with_discount }}
					    </td>			
					{{/if}}
					<td class="text_right number total_price_gross_col correction">
						{{total_price_gross}}
					</td>
				{{/if}}					
				
			</tr>
			{{/eq}}
			{{/not_eq}}

			{{/each}}
			
			
		
			
				<tr class="clean no_border">
								
					<td class="empty nr_col correction footer"></td>
					<td class="empty name_col correction footer"></td> 
					{{#if use_product_code}}
						<td class="empty code_col correction footer"></td>
					{{/if}}
					{{#if additional_info}}				
						<td class="empty additional_info_col correction footer"></td>
					{{/if}}
					{{#if discount}}
						<td class="empty discount_col correction footer"></td>
					{{/if}}
					<td class="empty correction_col footer"></td> {{! correction specific td}}
					<td class="empty quantity_col correction footer"></td>

					{{#if discount}}
						<td class="empty mod1 correction footer"></td>
					{{/if}}
					{{#if tax_visible}}
						{{#if ../show_unit_price_gross}}
							<td class="empty mod2 correction footer"></td>
						{{/if}}
					{{/if}}	
	
					<td  class="text_right no_border total correction footer">
						<strong>{{tt "invoice.total"}}</strong>
					</td>
					{{#if tax_visible}}
						<td class="text_right number total_price_net_col correction">
							{{#not_eq kind 'final'}}
								{{total_price_net}}
							{{/not_eq}}
							{{#eq kind 'final'}}
								{{positions_total_price_net}}
							{{/eq}}
						</td>
						<td class="empty tax_col correction footer"></td>
						{{#if ../tax2_visible}}
							<td class="empty tax2_col correction footer"></td>
						{{/if}}

						<td class="text_right number tax_value_col correction footer">
							{{#not_eq kind 'final'}}
								{{tax_value}}
							{{/not_eq}}
							{{#eq kind 'final'}}
								{{positons_total_tax}}
							{{/eq}}
							
						</td>
					
					{{/if}}
					<td class="width3 text_right number total_price_gross_col correction footer">
						{{#not_eq kind 'final'}}
							{{total_price_gross}}
						{{/not_eq}}
						{{#eq kind 'final'}}
							{{positions_total_price_gross}}
						{{/eq}}
					</td>						
				</tr>			
			
		

				{{#if tax_visible}}
				{{#each summary}}
				<tr class="no_border">
					<td class="empty nr_col correction footer"></td>
					<td class="empty name_col correction footer"></td>
					{{#if ../use_product_code}}
						<td class="empty code_col correction footer"></td>
					{{/if}}
					{{#if ../additional_info}}				
						<td class="empty additional_info_col correction footer"></td>
					{{/if}}
					{{#if ../discount}}
						<td class="empty discount_col correction footer"></td>
					{{/if}}
					<td class="empty correction_col footer"></td> {{! correction specific td}}
					<td class="empty quantity_col correction footer"></td>
					
					{{#if ../discount}}
						<td class="empty mod1 correction footer"></td>
					{{/if}}
					{{#if ../show_unit_price_gross}}
						<td class="empty mod2 correction footer"></td>
					{{/if}}

					<td class="text_right number total correction footer">					
						{{!-- {{tax}} --}}
					</td>

					<td class="text_right number total_price_net_col correction footer">
						{{total_price_net}}
					</td>
					<td class="text_right number tax_col correction footer">
						{{tax}}
					</td>
					{{#if ../../tax2_visible}}
						<td class="text_right number tax2_col correction footer">
							{{tax2}}
						</td>
					{{/if}}

					<td class="text_right number tax_value_col correction footer">
						{{tax_value}}
					</td>
					<td class="width3 text_right number total_price_gross_col correction footer">
						{{total_price_gross}}
					</td>					
				</tr>
				{{/each}}
				{{/if}}
		</tbody>
	</table>