@media print{
	.invoice_outline {line-height:1.2em}
 

	.invoice_outline {
		font-size: 70% !important;
		margin-top:30px
	}
	
		.invoice_outline .small_text span{font-size:0.7em;}
}

@media all{
	
	.invoice.invoice_preview {width:634px;font-family:arial,helvetica,serif}

	.invoice_outline table{border-collapse:collapse ;empty-cells:hide;border:0;}
	.invoice_outline table th{background-color:transparent;color:#000;font-weight:bold;padding:6px 5px 3px;}
	.invoice_outline tr:hover,
	.invoice_outline tr{background:transparent;}
	.invoice_outline table td,
	.invoice_outline table th{border:0;font-size:12px;padding:0;vertical-align:middle;color:#000;}
	.invoice_outline{font-family:arial,helvetica;font-size:0.9em;}
	.invoice_outline .small_text{font-size:0.7em;}
	.invoice_outline .text_center{text-align:center;}
	.invoice_outline .text_left{text-align:left;}
	.invoice_outline .text_right{text-align:right;}
	.invoice_outline .big_text{font-size:26px}
	.invoice_outline .medium_text{font-size:16px}
	.invoice_outline hr{height:1px;color:#ddd;border:0;border-top:1px solid #ddd;}
	.invoice_outline .vert_align_top{vertical-align:top}
	

	table th{background-color:transparent;color:#333333;font-size:12px;font-weight:bold;padding:6px 5px 3px;}
	table th,
	table td{margin:0;padding:0;}
	th.width0,
	td.width0{width:1%;}
	th.width1,
	td.width1{width:3%;}
	th.width2,
	td.width2{width:9%;}
	th.width3,
	td.width3{width:13%;}
	th.width4,
	td.width4{width:30%;}
	
	.invoice_outline table.main_inv_table td{border-bottom:1px solid #ddd;padding:4px 0;}
	.invoice_outline table.main_inv_table .no_border td,
	.no_border,
	.no_border td,
	.invoice_outline table.main_inv_table td.no_border{border:0;}
	.seller_buyer{margin:30px 0;}
	.main_inv_table{margin-top:20px}
	.invoice_outline .main_inv_table th,
	.invoice_outline .main_inv_table td{font-size:11px;}
	table.full_width{width:100%;}
	td.half_width{width:50%;}

	@page{size:A4 ;}
	
	
	.payment_button {
		display:block;
		float:right;
		text-align:right;
		height:43px;
		width:190px;
		z-index:999;
	}

	.payment_button img{
		display:block;
		float:right;
		text-align:right;
		width:190px;
		height:43px;
		z-index:999;
	}

}
